#head {
        font-family: 'Courier New', Courier, monospace;
        font-size: 15em;
        text-align: center;
        text-decoration-color: aquamarine;
}

#list 
{
    list-style-type: disc; 
    list-style-position: outside;
    background-color: beige;
    

}
#intro  a
{
    color: rgb(0, 255, 0);
    text-align: right;
}


#intro > a
{
     font-size: 10em;
}

#guideline a 
{
     color: tomato;
     text-align: center;
}

body > * { margin-left: 10px; } 

#forest > .leaf.fruit
{
    font-size: 5em;
}
