table { border-collapse: collapse; }
table, th, td { padding: 15px; border-bottom: 1px solid black; }

table.eg1 tr:hover { background-color: #ccff99; }

table.eg2 tr:hover { background-color: grey; }