table caption
{
    text-decoration-color: aquamarine;
    font-size: 2em;
    text-decoration-line: underline;
}

table th
{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-style: italic;
}
#tbl3
{
    border-width: 2px;
    border-color: blue;
    border-style: groove;
    border-collapse: collapse;
}
#tbl1
{
    border: 3px double red;
    width: 100%;
    text-align: center;
}
#tbl2
{
    height: 70%;
}

table { border-spacing: 25px 50px; border-collapse: separate; }
table, td, th {border-spacing: 25px; }

table { border-collapse: collapse; }
table, th, td { padding: 15px; border-bottom: 1px solid black; }

table.eg1 tr:nth-child(even) { background-color: #ccff99; }

table.eg2 tr:nth-child(odd) { background-color: #ccff99; }

table.eg3 tr:nth-child(3n) { background-color: #ccff99; }